---
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const navigationLinks = [
  { url: "/", label: "Home" },
  { url: "/projects", label: "Projects" },
  { url: "/blog", label: "Blog" },
] as const;

const pathname = new URL(Astro.request.url).pathname;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Title"
      href={new URL("rss.xml", Astro.site)}
    />
    <meta name="generator" content={Astro.generator} />

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
  </head>

  <body
    class="flex min-h-screen min-w-screen flex-col items-center gap-12 bg-zinc-50 font-light text-zinc-800 dark:bg-zinc-800 dark:text-zinc-300"
  >
    <header class="flex w-full max-w-2xl justify-between px-8 pt-16">
      <nav class="flex w-full gap-4">
        {
          navigationLinks.map(({ url, label }) => {
            const isActive =
              (url === "/" && pathname === "/") ||
              (url !== "/" && pathname.startsWith(url));

            return (
              <a
                href={url}
                class={isActive ? "" : "text-zinc-400 dark:text-zinc-500"}
              >
                {label}
              </a>
            );
          })
        }
      </nav>
    </header>

    <main class="flex w-full max-w-2xl grow flex-col gap-8 p-8 pt-0">
      <slot />
    </main>
  </body>
</html>
